<div id="navbar">
    <nav>
        <a href="#">Accueil</a>

        <div class="centre">
            <a href="#">Mes stats</a>
            <a href="#">Jeux</a>
            <a href="#">Classement</a>
        </div>

        <a href="#">Se connecter</a>
    </nav>
</div>
