<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/style.css">
    <title>4Cartes</title>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <div class="test">
    <h1>4Cartes</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas neque inventore quo eligendi incidunt iusto. Qui quae, corporis totam assumenda fuga possimus quo aliquam beatae maxime? Natus blanditiis iste odit.
        Iste impedit doloremque atque ipsum repellat, expedita ad nihil suscipit. Quibusdam nemo omnis tempora rerum a beatae! Blanditiis dolorem, ratione ducimus inventore atque eos, facilis neque, minima voluptate aliquid expedita!
        Dolore aliquam accusamus cupiditate hic repellat quod magnam fugit qui aperiam, vero tempore aliquid ratione nulla rerum tenetur ad inventore voluptatem ducimus! Aspernatur, consequatur? Rerum deserunt dignissimos veritatis odit possimus.
        Optio, deserunt minima ipsum at omnis totam consequuntur eaque explicabo facere, a iusto illo itaque. Culpa quos veritatis, vero voluptatum explicabo enim aperiam, sequi quaerat placeat, voluptatibus perferendis corporis harum.
        Iusto nulla quasi ad error accusantium minus, in ipsum rerum at cupiditate temporibus commodi! Aliquid facilis nam culpa nulla, veniam omnis voluptatem ad amet aperiam a dolorum velit! Iste, id.
        Tenetur iusto fuga eum, dignissimos possimus, molestias ipsam fugiat explicabo accusamus ab temporibus est, deserunt dolor quis doloribus maiores nostrum. Eveniet, omnis perspiciatis quam ipsa quis consequatur veritatis modi recusandae!
        Provident, necessitatibus. Nulla eveniet quasi culpa laboriosam voluptatum odio ad accusantium dolorum sint blanditiis. Fugit, praesentium, alias quae, dolorem saepe quasi non quod minus tenetur hic ratione ipsa commodi delectus!
        Ducimus atque excepturi omnis quo deserunt sapiente, voluptatum corrupti libero ab magni? Vero assumenda tempore impedit delectus velit natus cum dolorem? Ab impedit, dolor accusantium odio possimus rem iusto dolorem.
        Sunt voluptatum commodi eius dolorem repudiandae voluptates facilis architecto repellendus aperiam laborum odio accusantium nostrum, a laboriosam fugiat unde perferendis ut voluptatibus accusamus qui tempore rerum. Ut veniam voluptates rerum!
        Officiis repellat, animi fugiat tempore unde minima voluptatem. Delectus, quam doloribus repudiandae nisi earum alias cumque ducimus sit sint facilis harum voluptas aut libero dolores nemo voluptatum neque asperiores maiores!
        Itaque libero accusantium quaerat laborum ea illum excepturi? Iste ipsam quibusdam tempora quo sunt nisi, facilis excepturi qui sed voluptatibus? Ea corrupti quidem error quaerat cupiditate obcaecati neque, dicta numquam?
        Corrupti, accusantium? A odio nemo fuga sint eos rerum! Unde voluptates, hic, eius quis incidunt sit asperiores voluptatibus perspiciatis corporis deleniti obcaecati, sunt dolore odit expedita iusto! Magnam, porro et.
        Fuga facilis illo exercitationem saepe. Adipisci repudiandae dicta amet, rem deserunt nesciunt minima delectus. Amet fugit expedita exercitationem. Deleniti facilis libero cupiditate suscipit iste, veritatis nisi consequatur amet ducimus accusantium.
        Hic doloribus consequatur quia, mollitia consequuntur cupiditate sequi a commodi delectus nihil, similique dolore quis earum sit laborum officia ex. Sint aperiam asperiores unde labore quo rem architecto rerum recusandae.
        Earum animi corrupti praesentium, veniam totam dolore. Incidunt rem voluptatibus repellendus, fugiat temporibus veniam qui blanditiis magnam corporis eveniet harum consectetur numquam libero officia quas dolores excepturi illo pariatur vel?
        Aliquam, animi commodi magni voluptas totam reiciendis atque earum molestias recusandae odio fuga officiis. Eaque natus voluptate itaque totam facilis nisi assumenda non, temporibus, corporis, beatae tempora quae suscipit voluptates!
        Accusantium rerum quasi in nihil commodi, deserunt eos quam voluptatibus dolorum ullam beatae cum error, ipsa, adipisci eligendi qui soluta. Veniam autem hic reiciendis totam. Eligendi, distinctio. Repudiandae, iste perferendis.
        Eaque magni necessitatibus officia facere! Saepe nulla dolore molestias praesentium ipsa facere adipisci aliquam velit porro necessitatibus rerum iure atque vero, ullam ea officia minus sequi hic tenetur natus nemo?
        Ipsum, facere. Nisi placeat non ad laborum animi vero facere nam iste nobis. Cum, quidem vel incidunt doloremque non odit, numquam assumenda saepe rem hic doloribus asperiores nesciunt quam ratione.
        Recusandae, similique obcaecati! Ut expedita delectus illum ipsum dignissimos. Obcaecati, illum minus! Quod sapiente modi consequatur, odio debitis deleniti, aspernatur, odit consectetur temporibus possimus autem magni rem suscipit voluptates harum.
        Nisi animi officia, earum nesciunt impedit aspernatur facere dolores in fuga similique beatae, quod debitis accusantium necessitatibus autem possimus ut. Accusamus perferendis nesciunt voluptatem hic corrupti, exercitationem a similique iste?
        Quibusdam, debitis eum, distinctio reprehenderit provident alias iste obcaecati, aut rerum rem praesentium corrupti! Iure, sint harum perspiciatis ut repudiandae hic error accusamus, aspernatur dolore, numquam facere amet odit aliquam?
        Maxime, at itaque. Magnam, est eius eum quo reprehenderit consequatur voluptatum vel rerum fuga amet saepe facilis repellendus, minus eos suscipit hic! Explicabo possimus ab soluta velit perspiciatis aliquam fugit?
        Voluptatum eveniet nostrum soluta ipsum quidem repellendus accusamus porro ipsam. Dolores blanditiis placeat, deserunt cumque, beatae distinctio illo libero non obcaecati repellendus numquam porro nihil molestiae officia ratione? Repellendus, omnis?
        Ex sunt incidunt illo, quae nemo assumenda amet quod, sapiente adipisci expedita fugiat minima reiciendis veritatis non. Accusamus tenetur distinctio blanditiis laborum autem neque repellat recusandae ducimus. Expedita, omnis dolore.
        Obcaecati accusamus sapiente eum laudantium molestiae dolorum perferendis accusantium voluptatem ex soluta eligendi adipisci repellendus excepturi impedit nam, minus dicta, consequuntur quae alias praesentium corporis, maiores nihil dolorem mollitia! Saepe!
        Mollitia odit ipsa enim, impedit ullam maiores perferendis praesentium, soluta, asperiores eos fuga obcaecati illo quod magnam recusandae quidem doloribus cupiditate officia? Maiores rerum sit nihil deleniti vero repellendus hic?
        Nesciunt cum eum minima. Commodi vero ad incidunt. Fugiat cum sint non minima. Vero architecto optio ratione incidunt, similique dolor culpa earum aut, quia nemo explicabo mollitia debitis error alias.
        Enim ea pariatur quibusdam cumque saepe excepturi neque, eos fuga alias expedita odit, corporis dolorem totam rerum. Beatae, at! Amet minima ex blanditiis suscipit ducimus sequi a corrupti officiis enim?
        Sint laborum porro ab libero incidunt inventore ipsam necessitatibus cum, commodi voluptate. Rerum harum velit officiis excepturi praesentium, autem mollitia nobis debitis voluptatibus atque eos similique odio! Sapiente, officiis. Hic?
        Rem quam ab veritatis voluptatibus id maiores laudantium perferendis repellat soluta porro fugit deserunt quas eveniet sequi, fugiat tenetur esse aut ea facilis earum quisquam laboriosam? Harum blanditiis expedita qui!
        Illum a veritatis nam numquam voluptatibus explicabo ea sequi accusamus, reprehenderit eligendi placeat totam perspiciatis tenetur, cupiditate omnis corrupti possimus facere hic earum ut aut? Fugiat laborum aspernatur minus amet.
        Voluptatibus libero aut, porro id suscipit mollitia impedit provident perferendis magni ducimus et fugiat, amet, aliquid iure? Reiciendis laudantium, dignissimos reprehenderit quaerat ipsum sed corporis error! Molestias quidem facilis adipisci.
        Officiis error similique doloremque esse! Reiciendis cupiditate quas labore repellat totam, omnis saepe non rem vitae ea iste aliquid maxime eligendi earum iusto culpa fugiat necessitatibus. Natus ducimus omnis vero?
        Sint optio placeat facilis omnis cupiditate, tempora odit animi. Itaque suscipit labore quas. Ab veniam amet dolorem ea in voluptates blanditiis, debitis sunt cum odio, sit ducimus odit, omnis nostrum?
        Ipsam necessitatibus est expedita sit molestias itaque amet veniam ea nihil consequuntur earum dolores, dignissimos facilis. Nobis sequi quae animi ex. Impedit repudiandae id nesciunt cum hic! Veniam, non quas?
        Pariatur sequi aliquid quis neque minus, consequatur doloribus laborum excepturi aperiam adipisci iusto blanditiis, voluptatum, maxime nam eligendi sapiente unde ad. Quidem minus voluptate sunt ipsam dolores, itaque qui nam.
        Eaque assumenda dicta, error doloremque maiores quod incidunt ab aspernatur voluptate, sint dolorem dolores, repellat culpa similique sequi reprehenderit iusto odit sit quam? Labore aliquam non saepe dolorem tempora blanditiis!
        In culpa eaque cupiditate excepturi non, asperiores rerum, deserunt optio minus vitae accusantium veritatis enim. Delectus, minima. Cupiditate incidunt laboriosam voluptatum hic sed? Nihil autem asperiores, dolorem amet officia voluptatibus.
        Nam ad labore tenetur, sed eos, repellat voluptatum nihil perferendis assumenda illum id fuga voluptates saepe dolorem tempora accusantium incidunt rem. Consequatur nemo enim vel nesciunt harum ea officiis dolorem!
        Totam nulla, aperiam veniam exercitationem debitis amet magnam. At, esse, odit earum illo doloremque rerum, accusamus iste aliquid aperiam quibusdam beatae! Molestiae sint sapiente, ab deserunt ut fugiat officia nesciunt.
        Earum odio dolore amet voluptatibus aut corporis fugit quaerat consequatur fugiat eligendi quia beatae ullam suscipit enim dolorem rerum reiciendis mollitia, id velit laudantium aspernatur maiores? Ut quas atque excepturi!
        Labore neque aliquid esse porro nulla nam atque voluptatem autem consectetur et, pariatur ab cupiditate magnam nisi sint soluta ullam velit natus voluptatibus voluptatum laudantium! Quam doloremque illo fuga dolores.
        Excepturi doloribus aut rerum aliquam vel laudantium optio ea quas sequi. Natus consequatur repellendus animi ipsam nostrum deleniti possimus temporibus, ex, cupiditate, dignissimos doloremque expedita quas enim laboriosam quisquam consequuntur!
        Dignissimos tempora officia eius. Eveniet nemo at reiciendis iste dolores nulla soluta dolor corporis, excepturi maiores suscipit distinctio iusto incidunt labore tempora. Nemo recusandae veritatis eius velit minus doloremque tempore.
        Sapiente harum enim numquam perspiciatis, id quae laudantium modi quidem officia ipsum odit impedit fuga magnam quam consequatur unde expedita. Magni quidem ullam repellendus maxime? Cumque provident quibusdam asperiores ad!
        Dolor, asperiores architecto temporibus et, sunt eaque voluptate, explicabo blanditiis id sint qui quisquam ipsa quam beatae accusamus mollitia porro error iure necessitatibus velit rerum vel quod! Ratione, vero illo?
        Modi unde, nostrum dignissimos commodi delectus recusandae tempore et eum possimus numquam corrupti assumenda sapiente voluptatibus vero doloremque. Enim voluptates alias quisquam illo obcaecati, impedit nostrum harum fugiat porro? Ipsa!
        Dolore perferendis rerum ratione iste minus, doloremque facere inventore excepturi eaque obcaecati architecto? Nemo totam eos beatae sint facilis voluptatem natus neque! Deserunt mollitia quaerat beatae ab architecto velit vel?
        Quasi, voluptas et. Fugit ratione eum cupiditate, aliquam adipisci ea quidem laborum, rem similique exercitationem debitis recusandae odit iste alias ipsam tempore voluptas error animi minus a nulla, molestias illo.
    </p>
</div>
</body>
</html>
