<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body>
    <h1>Welcome</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, reiciendis! Adipisci dolores a officia odio error soluta tempore, delectus sint molestias enim veniam! Necessitatibus deleniti minus nemo? Nesciunt, sit totam.
    </p>
</body>
</html>
